/data/pdfs
/data/xmls

# Too large
/data/scraped_papers.csv
/data/scraped_papers_final.csv
/data/relevant_papers.csv


env
.env
.DS_Store
mykernel/
work_in_progress/Nic/llama-3.2-3b-it-Perovskite-PaperExtractor

.ipynb_checkpoints
/results