/data/scraping_and_conversion/pdfs
/data/scraping_and_conversion/xmls

# Too large
/data/scraping_and_conversion/scraped_papers.csv
/data/classification/relevant_papers.csv
/data/rag_processing/rag_filtered_relevant_papers.csv
/results

env
.env
.DS_Store
mykernel/

.ipynb_checkpoints

